/* purgecss start ignore */
@tailwind  base;
@tailwind  components;
button:focus {
    @apply outline-none
}

.surveyButton {
    @apply p-3 rounded-lg hover:text-red-700 hover:bg-red-50 transition-all duration-300 text-xl text-gray-600

}

.fade-enter {
    opacity: 0;
    transform: translateY(-25%);
}
.fade-enter-active {
    opacity: 1;
    transform: translateY(0%);
}
.fade-exit {
    opacity: 1;
    transform: translateY(0%);
}
.fade-exit-active {
    opacity: 0;
    transform: translateY(25%);
}
.fade-enter-active,
.fade-exit-active {
    transition: opacity 600ms, transform 600ms;
}
/* purgecss end ignore */
@tailwind  utilities;